*{
    padding: 0px;
    margin: 0px;
}

@font-face{
    font-family:font1;
    src: url(Poppins/Poppins-BlackItalic.ttf);
    
}

.container {
    width: 1180px;
    margin: 0px auto;
}

.nav1{
    
    display: flex;
    justify-content: center;
}

.nav-top {
    display: flex;
    justify-content: space-between;
}



.back {
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,1.0)60%,red 40%);
    position: relative;
    
}


.unorder-list {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    
}

.red {
    background-color: red;
    padding: 0px 0px 0px 0px;
}

.left {
    background-color: black;
    width: 100%;
}

.list-item {
    display: flex;
    width: 33.33%;
    align-items: center;

}

.list-item-red {
    display: flex;
    align-items: center;
}

.list-item-link {
    text-align: center;

    text-decoration: none;
    color: white;
}

.right {
    padding: 5px 15px;
    margin-right: 10px;
    background: transparent;
    background-color: white;
    color: red;
    
}

.icon {
    border-right: 1px solid white;
    padding: 0px 10px;
}

.follow {
    width: 90px;
    margin: 10px 0px;
    padding: 5px 35px;
}

.nav2 {
    display: flex;
    justify-content: space-between;
}

.bg {
    background-color: white;
    
}

.white {
    width: 100%;
    background: linear-gradient(to right, red 40%, rgba(255, 255, 255, 1.0) 60%);
    position: relative;
    
}

.logo {
   
    color: white;
    font-size: 1.5rem;
   
}

.l-item {
    display: flex;
    list-style-type: none;
    align-items: center;

}

.l-item:first-child {
    padding-left: 400px;
}

.nav-item-link {
    text-decoration: none;
    color: black;
    padding: 30px 25px;
}

.section-1{
    background-image: url(images/hero-five.jpg);
    background-size: cover;
}

.shadow {
    background-color: rgba(255, 255, 255, 0.4);
    height: 90vh;
}

.head {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.intro {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.banner-content h2{
    color: red;
    font-size: 2rem;
}

.banner-content h1 {
    padding: 20px 0px;
    font-size: 4rem;
    width: 600px;
}

.play {
    background-color: rgb(131, 7, 7);
    font-size: 36px;
    padding: 9px 7px 9px 17px ;
    cursor: pointer;
    border: 4px solid rgb(231, 23, 23);
}
.play img{
    color: white;
}
.intro p{
    padding-left: 8px;
    font-size: 20px;
}
.bi-play-fill{

    color: white;
    
    
}

.donate {
    display: flex;
    position: absolute;
    bottom: -75px;
}

.left-l {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
    color: white;
    
}

.left-l h2 {
    font-size: 1.9rem;
    font-weight: bold;
}

.left-l p{
    padding-top: 10px;
    width: 350px;

}

.in {
   padding: 10px;
   display: flex;
   align-items: center;
}

.right {
    width: 50%;
    padding: 15px;
    background-color: red;
    color: white;
}

.know {
    background-color: red;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.bottom-line {
    position: absolute;
    background-color: black;
    height: 50px;
    width: 100%;
    bottom: 80px;
}

/*
.know-link {
    background-color: red;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}  */

.shadow2 {
    background-color: lightgrey;
    height: 850px;
    position: relative;
    z-index: -1;
    
}

.blocks {
    display: flex;
    position: absolute;
    top: 30%;
    transform: translateY(-10%);
    justify-content: space-between;
    
    
}

.bl {
    padding-top: 15%;
}

.block {
    width: 32%;
    
    background-color: white;
}


.block-content {
    display: block;
    padding: 10px;
    text-align: center;
    
}


.Read-More {
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  

}

.Read-More:hover{
    background-color: red;
}

.data {
    padding: 20px 0px;
}

.data h2{
    padding: 10px;
}

.donor {
    background-color: red;
    padding: 10px 15px;
    margin-top: -40px;
   
    
}

.icon2 {
    padding: 18px 15px;

}


.icon3 {
    padding: 15px 15px;
}


.sec3-contents {
    display: flex;

    padding:  50px 0px;
}

.characteristics {
    display: flex;
    padding: 30px 0px;
}

.characteristics p{
    font-weight: bold;
    padding: 5px;
}

.sec3 {
    width: 50%;
    display: flex;
}

.sec3-right {
    align-content: center;
    margin: auto 0px;
    padding: 0px 0px;
    width: 80%;
}

.blo {
    display: block;
    width: 100%;
}

.bi-chevron-double-right{
    color: rgb(248, 14, 53);
    padding-right: 10px;
}

.need {
    color: red;
}

.welcome{
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 0px;
}

.l2 {
    width: 100%;
}

.section4 {
    background-image: url(images/counter-bg.png);
}

.shadow4 {
    background-color: rgba(0, 0, 0, 0.8);
    height: 40vh;
    display: flex;
    align-items: center;
}

.sec4-blocks {
    display: flex;
    align-items: center;

    padding: 20px;
}

.blok {
    width: 25%;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.blok h2 {
    padding: 15px 0px;
    font-size: 2.5rem;
}

.sec5-contents {
    display: block;
    align-items: center;
    margin-bottom: 100px;
    
}

.sec5-head {
    text-align: center;
    padding-bottom: 80px;
}

.sec5-head p{
    font-size: 1.5rem;
}

.sec5-head h2 {
    font-size: 3rem;
}

.service {
    display: flex;
}

.service h2 {
    font-size: 4rem;
    color: grey;
}

.service p{
    color: grey;
}

.service h3 {
    font-size: 2rem;
    padding: 20px 0px;
}

.flex {
    display: flex;
}

.serv {
    padding: 20px 40px;
    align-items: center;
    
}

.f-right {
    text-align: right;
}

.serv-button {
    margin: 20px 0px;
    width: 150px;
    height: 50px;
}

.section6 {
    background-image: url(images/call-now-bg.png);
}

.call-border {
    border: 10px solid red;
    height: 32vh;
    display: flex;
    justify-content: center;
}

.rotate{
    transform: rotate(-45deg);
    color: white;
    font-size: x-large;
    
}

.call {
    position: absolute;
    margin-top: -35px;
    display: flex;
    transform: rotate(45deg);
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: red;
}

.social {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.social-icon {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px auto;

}

.number {
    text-align: center;
    display: flex;
    align-items: center;
}

.number p{
    color: white;
}

.ic {
    color: white;
    padding-right:  10px; ;
}

.number h2 {
    color: white;
    padding: 10px;
    font-size: 3rem;
}

.shadow6 {
    background-color: rgba(0, 0, 0, 0.8);
    height: 50vh;
    display: flex;
    align-items: center;
}

.sec7-head p{
    color: red;
}

.sec7-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    width: 49%;
    align-items: center;
}



.card span {
    color: red;
    padding-right: 2px;
    
}

.card h2 {
    padding: 20px 0px;
}

.soci {
    padding-top: 20px;
}


.sec7-data {
    align-items: center;
    background-color: white;
    display: block;
    padding:  15px;
}

.sec7-card-back {
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-bottom: -80px;
}

.ico {
    padding-left: 15px;
}

.section7 {
    height: 750px;
    display: flex;
    align-items: center;
}

.radio {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0px;
}

.bi-circle {
    padding: 5px;
    color: red;
    
}


.bi-circle:hover {
    background-color: red;
    border: 2px solid white;
}


.review {
    width: 32.5%;
    padding: 10px;
    
}

.profile {
    width: 32.5%;
    padding: 10px;
    
}

.bi-star-fill {
    color: gold;
    font-size: 20px;
    padding-right: 5px;
}

.review p{
    padding: 20px 0px;
    line-height: 1.5;
}

.profile-name {
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.profile-name p{
    color: grey;
    padding-top: 5px;
}

.rev {
    padding: 0px;
}

.section8 {
    height: 700px;
}

.section9 {
    background-image: url(images/blood-donor-bg.png);
    background-size: cover;
    
}

.shadow9 {
    background-color: rgba(0, 0, 0, 0.8);
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sec9-head h2{
    color: white;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;

}

.but {
    border: none;
    background: transparent;
    font-size: 30px;
    
}

.lg {
    color: red;
}

.play-but {
    padding: 12px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
}

.pl {
    border: 2px solid white;
    border-radius: 50px;
    border-left: 0;
    border-top: 0;
    padding: 20px 10px;
}

.footer {
    background-color: black;
}

.foot-contents, .foot-top {
    display: flex;
    align-items: center;
}

.foot-sec {
    width: 25%;
    padding: 20px;
    color: white;
}

.foot-sec h2 {
    padding: 20px;
}

.foot-item {
    text-decoration: none; 
    display: flex;
    color: white;
    padding: 5px;

}

.first h3 {
    padding: 10px 0px;
    padding-left: 10px;
}

.news p{
    color: white;
    line-height: 1.3;
    padding-bottom: 10px;
    
}

.data {
    padding-left: 10px;
}

.foot-top {
    border-bottom: 1px solid grey;
}

.foot-bottom {
    align-items: center;
}

.bottom {
    display: flex;
    width: 50%;
    align-items: center;
}

.email {
    width: 60%;
    padding: 5px;
    border: 1px solid grey;
    
}



.mail {
    background: transparent;
    border: none;
}

.foot-subs {
    align-items: center;
    padding-top: 30px;
    width: 50%;
}

.foot-subs p{
    margin: 20px;
    margin-left: 0;
}